name: ci
on:
  push:
    branches: [main]
    tags:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: oldstable
          cache: false
    
      - name: Install Tools
        run: make install-ocb

      - name: Build
        run: make build
